# Reduce Docker image size
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.log
.git
.gitignore
README.md
.DS_Store
*.sqlite
*.db
temp/
.pytest_cache/
.mypy_cache/
node_modules/
*.egg-info/
dist/
build/
.idea/
.vscode/